[Desktop Entry]
Name=Bitmonero GUI
GenericName=Bitmonero-GUI
Comment=Bitmonero GUI
Exec=bitmonero-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getmonero.Monero
StartupNotify=true
